# Telegram Bot Configuration
# Dapatkan Token dari @BotFather di Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# Nomor HP Owner (Sebagai referensi / otentikasi)
OWNER_PHONE_NUMBER=085210127796

# Telegram Chat ID Admin (Bisa diisi manual atau otomatis terisi saat kirim /start ke bot)
ADMIN_CHAT_ID=

# Port Server Express untuk REST API / Webhook Simulasi
PORT=3001
